/**
 * Coffee & Brackets software studio
 * @author Mohamed KRISTOU <krisstwo@gmail.com>.
 */

body {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #61514e;
    font-size: 14px;
    font-family: 'Source Sans Pro',sans-serif;
    padding: 40px 0;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    color: #f7a600;
    text-decoration: none;
}

/**
BOOTSTRAP TWEAKS
 */

a.btn {
    text-decoration: none;
}

.btn.btn-hb {
    background: rgb(247, 166, 0);
    color: #ffffff;
    border: none;
}

.btn.btn-upper {
    text-transform: uppercase;
}

.btn.btn-bold {
    font-weight: bold;
}

.btn.btn-md {
    font-size: 1.4em;
}

.btn.btn-lg {
    font-size: 2em;
}

.btn-back {
    display: block;
    font-style: italic;
    text-decoration: none;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn-back i {
    color: rgb(247, 166, 0);
    background: #ffffff;
    border-radius: 2px;
    padding: 6px 10px;
    margin-right: 16px;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover {
    background-color: rgb(247, 166, 0);
    background-image: -moz-linear-gradient(to bottom, rgb(255, 221, 0),rgb(247, 166, 0));
    background-image: -ms-linear-gradient(to bottom,rgb(255, 221, 0),rgb(247, 166, 0));
    background-image: -webkit-gradient(linear,0 0,0 100%,from(rgb(255, 221, 0)),to(rgb(247, 166, 0)));
    background-image: -webkit-linear-gradient(to bottom,rgb(255, 221, 0),rgb(247, 166, 0));
    background-image: -o-linear-gradient(to bottom,rgb(255, 221, 0),rgb(247, 166, 0));
    background-image: linear-gradient(to bottom,rgb(255, 221, 0),rgb(247, 166, 0));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(255, 221, 0)', endColorstr='rgb(247, 166, 0)', GradientType=0);
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.modal-content > .alert {
    margin-bottom: 0;
}

/**
CUSTOM ELEMENTS
 */

.container  > .content {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
}

.step-1 {
    text-align: center;
}

.step-1 .polar-bg {
    margin-left: -220px;
    margin-right: -220px;
    min-height: 856px;
}

.step-1 .polar-content {
    max-width: 650px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 20px;
}

.text-red {
    color: #b72c10;
}

.text-yellow {
    color: rgb(247, 166, 0);
}

.text-size-1 {
    font-size: 1.8em;
    line-height: 1.2em;
}

.text-size-2 {
    font-size: 2.8em;
    line-height: 1em;
}

.hr-small {
    width: 104px;
    border-top: solid 3px #61514e;
}

/**
QUIZ STYLES
 */

.question {
    margin-bottom: 25px;
}

.question-title {
    overflow: hidden;
}

.question-title-rank {
    background: rgb(247, 166, 0);
    color: white;
    font-size: 1.8em;
    padding: 0 0.5em;
    margin-right: 20px;
}

.question-title-text {
    font-size: 2em;
}

.question-options {
    margin-top: 20px;
}

.question-hint {
    text-align: right;
}

.question-option-illustration {
    display: block;
    width: 100%;
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
    cursor: pointer;
}

/**
FORM STYLES
 */

.form-horizontal .control-label {
    text-align: left;
    font-weight: normal;
}

.form-control {
    border-radius: 0;
    border: 1px solid rgb(247, 166, 0);
}

.btn-fb, .btn-fb:hover {
    background-color: #3b5998;
    color: #ffffff;
}

.btn-fb i {
    float: left;
    line-height: inherit;
}

#phone_country_code, #phone {
    display: inline-block;
    width: auto;
}

.phone-compound.form-group .form-group {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#birthday-picker select.form-control {
    width: 32%;
    margin-right: 1%;
    display: inline-block;
}

/**
MAGIC CHECKBOXES STYLES
 */

.magic-radio + label {
    display: inline-block;
}

.magic-radio + label:before,
.magic-radio:checked + label:before {
    border-color: rgb(247, 166, 0);
    background: #ffffff;
}

.magic-radio + label:after {
    background: rgb(247, 166, 0);
}

.magic-checkbox + label:before {
    border-color: rgb(247, 166, 0);
    background: #ffffff;
}

.has-error .magic-checkbox + label:before {
    border-color: #a94442;
}

.magic-checkbox:checked + label:before {
    border: rgb(247, 166, 0);
    background: #ffffff;
}

.magic-checkbox + label:after {
    border-color: rgb(247, 166, 0);
}

.magic-checkbox, .magic-radio {
    display: block;
    visibility: hidden;
}

/**
MEDIA QUERIES
 */
@media (max-width: 1199px) {
    .step-1 .polar-bg {
        background-image: url("../img/responsive-welcome-bg.png") !important;
        background-position: top center;
        background-repeat: no-repeat;
        margin: 0;
        min-height: initial;
        margin-top: -91px;
        padding-top: 182px;
    }
}