{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <p>&nbsp;</p>
        <div class="content step-1">
            <div class="polar-bg"
                 style="background-image: url('{% image '@HappybreakJeuConcoursBundle/Resources/public/img/welcome-bg.png' %}{{ asset_url }}{% endimage %}')">
                <div class="polar-content">
                    <h1><span style="font-size: 1.6em;font-weight: bold;">On vous offre</span>
                        <br/><span style="font-size: 2em;font-weight: bold;">1 an d’hôtels</span></h1>
                    <p>&nbsp;</p>
                    <hr class="hr-small">
                    <p>&nbsp;</p>
                    <p class="text-size-2">Tous vos breaks <span class="text-red">offerts</span> pendant 1 an* dans nos
                        200
                        hôtels partenaires,</p>
                    <p class="text-size-1">tentez votre chance en répondant correctement aux questions de notre
                        quizz</p>
                    <p>&nbsp;</p>
                    <a href="{{ path('happybreak_jeu_concours_quizz') }}" class="btn btn-hb btn-lg btn-upper btn-bold">Je participe au quizz</a>
                    <p>&nbsp;</p>
                    <p>*Dans la limite de 1 nuit d’hôtels par semaine pendant 52 semaines</p>
                    <a href="#">Voir le règlement</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}