<p style="text-align: center">
    <a href="https://www.happybreak.com/?utm_source=jeu-concours&utm_medium=email&utm_campaign=partage-jc" style="display: block; text-decoration: none;" target="_blank">
        <img width="200" height="69" src="http://emailing.happy-break.fr/resources/codeunique/img/footer-logo.png" alt="logo"/>
    </a>
</p>
<p>Tous droits réservés | <a href="https://www.happybreak.com/mentions-legales?utm_source=jeu-concours&utm_medium=email&utm_campaign=partage-jc" target="_blank">Mentions légales</a> |
    <a href="https://www.happybreak.com/?utm_source=jeu-concours&utm_medium=email&utm_campaign=partage-jc" target="_blank">www.happybreak.com</a> | Contactez nous 09 80 01 01 01</p>
